{% extends 'base.html'%}
{% block title %} BadFoodU {% endblock %}

{% block content %}
<html>
<head>

  </head>
<style>
  body{
    height:80%;

  }
</style>
<body>

<h1>Welcome to BadFoodU</h1>



<form action="/login" method="POST">
        <h2> Log In </h2>
        <label>
        Email
      <input type="email" name="email">
          <label>
      Password
      <input type="password" name="password">
    </label>
        <button> Log In </button>
      </label>
    </div>
    </div>
</form>

<h2> or Register!</h2>

<form action="/register" method="POST">

  <div>
    <label>
      Name
      <input type="name" name="name">
    </label>
  </div>  <div>
    <label>
      Last Name
      <input type="lastname" name="lastname">
    </label>
  </div>
  <div>
    <label>
      Email
      <input type="email" name="email">
    </label>
  </div>

  <div>
    <label>
      Password
      <input type="password" name="password">
    </label>
  </div>

    <input type="submit" value="Register">
  </div>
</form>
</label>
</div>
</form>
</body>



{% endblock %}