{% extends 'base.html'%}
{% block title %} BadFoodU {% endblock %}

{% block content %}

<html>
<head>
<script src="/static/js/badfoodujs.js"> </script>
<link rel="stylesheet" type="text/css" href="/static/css/style.css">
  </head>
<style>
  body{
    height:80%;

  }
</style>
<body>



<h1>Welcome to BadFoodU</h1>

<!-- 
<div class="cotn_principal">
<div class="cont_centrar">

  <div class="cont_login">
<div class="cont_info_log_sign_up">
      <div class="col_md_login">
<div class="cont_ba_opcitiy">
        
        <h2>LOGIN</h2>  
  <p>Already a member? <br>Please sign in.</br></p> 
  <button class="btn_login" onclick="cambiar_login()">LOGIN</button>
  </div>
  </div>
<div class="col_md_sign_up">
<div class="cont_ba_opcitiy">
  <h2>SIGN UP</h2>

  
  <p>BadFoodU is crowsorced!<br> Join the community </br> Completely free!.</p>

  <button class="btn_sign_up" onclick="cambiar_sign_up()">SIGN UP</button>
</div>
  </div>
       </div>

    
    <div class="cont_back_info">
       <div class="cont_img_back_grey">
       <img src="https://images.unsplash.com/photo-1499028344343-cd173ffc68a9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80" alt="" />
       </div>
       
    </div>
<div class="cont_forms" >
    <div class="cont_img_back_">
       <img src="https://images.unsplash.com/photo-1499028344343-cd173ffc68a9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80" alt="" />
       </div>
 <div class="cont_form_login">
<a href="#" onclick="ocultar_login_sign_up()" ><i class="material-icons">&#xE5C4;</i></a>
   <h2>LOGIN</h2>
 <input type="text" placeholder="Email" />
<input type="password" placeholder="Password" />
<button class="btn_login" onclick="cambiar_login()">LOGIN</button>
  </div>
  
   <div class="cont_form_sign_up">
<a href="#" onclick="ocultar_login_sign_up()"><i class="material-icons">&#xE5C4;</i></a>
     <h2>SIGN UP</h2>
<input type="text" placeholder="Email" />
<input type="text" placeholder="User" />
<input type="password" placeholder="Password" />
<input type="password" placeholder="Confirm Password" />
<button class="btn_sign_up" onclick="cambiar_sign_up()">SIGN UP</button>

  </div>

    </div>
    
  </div>
 </div>
</div> -->
<div class="loginregister">
  <div class= "loginbox">
    <form action="/login" method="POST">
        <h2> Log In </h2>
        <input class="inputform emaillogin" type="email" name="email" placeholder="Email">
        <br>

      <input class="inputform between"  type="password" name="password" placeholder="Password"> </br>

        <button class="button2"> Log In </button>
      </label>
    
</form>
</div>
<div class= "registerbox">
<h2> Register</h2>

<form action="/register" method="POST">

  <div>

      <input class="inputform" type="name" name="name" placeholder="Name">

  </div>  <div>

      <input class="inputform" type="lastname" name="lastname" placeholder="Last name">

  </div>
  <div>

      <input class="inputform"  type="email" name="email" placeholder="Email">

  </div>

  <div>
      <input class="inputform"  type="password" name="password" placeholder="Password">

  </div>

    <input class ="registerbutton" type="submit" value="Register">
  </div>
</div>
</form>
</label>
</div>
</form>
</div>
</body>



{% endblock %}