<HTML>

<h1>We are sorry you dont feel well, please share your sympthoms with us!</h1>

<form action="/incident" method="POST">

  <div>
  
<input type="radio" name="upset_stomach" id="upset_stomach" value="upset Stomach">
<label for="upset_stomach">Upset Stomach</label>
<input type="radio" name="stomach_cramps" id="stomach_cramps" value="stomach_cramps">
<label for="stomach_cramps">Stomach Cramps</label>
<input type="radio" name="nausea" id="nausea" value="nausea">
<label for="nausea">Nausea</label>
<input type="radio" name="vomiting" id="vomiting" value="vomiting">
<label for="vomiting">Vomiting</label>
<input type="radio" name="diarrhea" id="diarrhea" value="diarrhea">
<label for="diarrhea">Diarrhea</label>
<input type="radio" name="fever" id="fever" value="fever">
<label for="fever">Fever</label>

  <div>
    <input type="submit" value="Submit">
  </div>

  
  </div>

</form>
</HTML>

